{% extends "base.html" %}

{% block title %}
	View Account {{ id }}
{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
	{% if message %}
		<h2>{{ message }}</h2>
	{% endif %}

	{% if account and account_type == "admin" %}
		<div class="account_info">
			Username: {{ account.username }}<br>
			First Name: {{ account.first_name }}<br>
			Last Name: {{ account.last_name }}<br>
			SSN: {{ account.ssn }}<br>
			Email Address: {{ account.email_address }}<br>
			Phone Number: {{ account.phone_number }}<br>
		</div>

		{% if account_info_type == "customer" %}
			<form action="/accounts/{{ id }}" method="POST">
				<input type="submit" value="Approve">
			</form>
		{% endif %}

	{% endif %}

{% endblock %}
