{% set active_page = "Transactions" %}

{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename = '/styles/tasks.css') }}">
{% endblock %}

{% block body %}
<script type="text/javascript" src="{{ url_for('static', filename = 'js/nav.js') }}"></script>

{% if account_type == "customer" %}
<div id="tasks_body">
	<div class="redirect_button" onclick="set_top('transactions/')">
		View transactions
	</div>

	<div class="redirect_button" onclick="set_top('transactions/add')">
		Deposit Money
	</div>

	<div class="redirect_button" onclick="set_top('transactions/send')">
		Send Money
	</div>
</div>
{% endif %}
{% endblock %}
