{% extends "base.html" %}

{% block title %}
	View Log
{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
<script type="text/javascript" src="{{ url_for('static', filename = 'js/nav.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/pages.js') }}"></script>

<div id="log_body" class="flex_column">
	<div id="page_controls" class="flex_column">
		<div>
			<a onclick="set_page(1, {{ per_page }})"><button>First Page</button></a>

			{% if page > min_page %}
				<a onclick="set_page({{ page - 1 }}, {{ per_page }})"><button>Previous Page</button></a>
			{% else %}
				<button disabled>Previous Page</button>
			{% endif %}

			{% for i in range(page - 1, page + 2) %}
				{% if i >= min_page and i <= max_page %}
					<a onclick="set_page({{ i }}, {{ per_page }})">
						{% if i == page %}
							<button id="current_page">{{ i }}</button>
						{% else %}
							<button>{{ i }}</button>
						{% endif %}
					</a>
				{% endif %}
			{% endfor %}

			{% if page < max_page %}
				<a onclick="set_page({{ page + 1 }}, {{ per_page }})"><button>Next Page</button></a>
			{% else %}
				<button disabled>Next Page</button>
			{% endif %}

			<a onclick="set_page({{ max_page }}, {{ per_page }})"><button>Last Page</button></a>
		</div>

		<div class="flexbox">
			<p>Transactions Per Page: </p>

			<select onchange="set_page({{ page }}, event.target.value)">
				{% for i in range(10, 51) %}
					{% if i == per_page %}
						<option value="{{ i | string }}" selected>{{ i }}</option>
					{% else %}
						<option value="{{ i | string }}">{{ i }}</option>
					{% endif %}
				{% endfor %}
			</select>
		</div>
	</div>

	<br />

	{% for i in range(transactions | length) | reverse %}
		<div class="info">
			Time: {{ transactions[i].time }}<br>
			Amount: ${{ transactions[i].amount }}<br>
			Transaction Type: {{ transactions[i].transaction_type }}<br>
			Description: {{ transactions[i].description }}<br>

			{% if transactions[i].sender %}
				Sender: {{ transactions[i].sender }}<br>
			{% endif %}

			{% if transactions[i].recipient %}
				Recipient: {{ transactions[i].recipient }}<br>
			{% endif %}

			New Balance: ${{ transactions[i].new_balance }}
		</div>
	{% endfor %}
</div>
{% endblock %}
