{% extends "base.html" %}

{% block title %}
Awesome Test Website - Sign Up
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles/signup.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles/input.css') }}">
{% endblock %}

{% block body %}
<form action="/signup/" method="POST">
	<h1>Sign Up</h1>

	<div class="flexbox">
		<input class="flex_fill" type="text" name="first_name" placeholder="First Name" required>
		<input class="flex_fill" type="text" name="last_name" placeholder="Last Name" required>
	</div>

	<input type="text" name="username" placeholder="Username" required>
	<input type="text" name="ssn" placeholder="Social Security Number" required>
	<input type="email" name="email_address" placeholder="Email Address" required>
	<input type="tel" name="phone_number" placeholder="Phone Number 1234567890" required>
	<input type="password" name="password" placeholder="Password" required>
	<input type="password" name="password_verify" placeholder="Verify Password" required>

	{% if error %}
		<p id="error">{{ error }}</p>
	{% endif %}

	<div id="form_footer">
		<p id="alternate">Already have an account? <a href="/login/" target="_parent">Login</a></p>

		<input class="float_right clearfix wider" type="submit" value="Sign Up">
	</div>
</form>
{% endblock %}
